# Entorno virtual de Python
venv/
/venv/
*.venv
.venv

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de configuración y credenciales (¡MUY IMPORTANTE!)
*.env
credentials.json
token.json

# Archivos de logs
logs/
*.log
*.jsonl

# Modelos de Lenguaje y archivos pesados
*.gguf
*.zip
*.rar
*.7z

# Archivos del sistema operativo
.DS_Store
Thumbs.db